<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>dataset</title>
</head>
<body style="background-color:orange;">
    <p style="text-align:center;"> crop yield prediction dataset</p>
<table cellpadding="5" cellspacing="1" border="1">
<tr><td>Nitrogen (%)</td><td>Nitrogen (Pounds/Acre)</td><td>Phosphorous (%)</td><td>Phosphorous (Pounds/Acre)</td><td>Potash (%)</td><td>Potash (Pounds/Acre)</td><td>Area Planted (acres)</td><td>Harvested Area (acres)</td><td>Lint Yield (Pounds/Harvested Acre)</td></tr>
<tr><td>100</td><td>73</td><td>93</td><td>63</td><td>93</td><td>70</td><td>287</td><td>285</td><td>775</td></tr>
<tr><td>99</td><td>73</td><td>97</td><td>57</td><td>91</td><td>68</td><td>219</td><td>215</td><td>409</td></tr>
<tr><td>100</td><td>101</td><td>93</td><td>65</td><td>93</td><td>72</td><td>309</td><td>307</td><td>699</td></tr>
<tr><td>100</td><td>79</td><td>86</td><td>62</td><td>89</td><td>72</td><td>330</td><td>329</td><td>795</td></tr>
<tr><td>98</td><td>78</td><td>91</td><td>60</td><td>88</td><td>70</td><td>315</td><td>313</td><td>506</td></tr>
<tr><td>100</td><td>78</td><td>100</td><td>74</td><td>100</td><td>77</td><td>NA</td><td>NA</td><td>NA</td></tr>
<tr><td>99</td><td>84</td><td>100</td><td>71</td><td>99</td><td>73</td><td>NA</td><td>NA</td><td>NA</td></tr>
<tr><td>100</td><td>89</td><td>98</td><td>73</td><td>98</td><td>77</td><td>NA</td><td>NA</td><td>NA</td></tr>
<tr><td>99</td><td>82</td><td>95</td><td>77</td><td>97</td><td>83</td><td>385</td><td>370</td><td>405</td></tr>
<tr><td>100</td><td>100</td><td>99</td><td>76</td><td>99</td><td>75</td><td>440</td><td>420</td><td>399</td></tr>
</table>
<p style="text-align:center;"> crop water prediction dataset</p>
<table cellpadding="5" cellspacing="1" border="1">
    <tr><td>Soil Type</td><td>pH Level</td><td>Organic Matter (%)</td><td>Nitrogen Content (kg/ha)</td><td>Phosphorus Content (kg/ha)</td><td>Potassium Content (kg/ha)</td><td>Crop</td><td>Irrigation Method</td><td>Water Consumption (liters/hectare)</td><td>Water Availability (liters/hectare)</td></tr>
    <tr><td>Alkaline</td><td>8.110410649</td><td>1.561613109</td><td>38.56020142</td><td>11.26181745</td><td>42.17385032</td><td>Pulses</td><td>Drip Irrigation</td><td>6936.134039</td><td>7739.350476</td></tr>
    <tr><td>Alkaline</td><td>8.40071505</td><td>1.349206009</td><td>20.73490759</td><td>19.37556557</td><td>40.07848898</td><td>Barley</td><td>Tube Well</td><td>8087.602264</td><td>8487.712662</td></tr>
    <tr><td>Black lava soil</td><td>7.169487473</td><td>1.742530647</td><td>27.71651192</td><td>21.69496757</td><td>42.28124744</td><td>Barley</td><td>Sprinkler Irrigation</td><td>10002.79758</td><td>10673.14744</td></tr>
    <tr><td>Black lava soil</td><td>6.481889749</td><td>2.023746734</td><td>28.75464078</td><td>11.63553049</td><td>42.02106433</td><td>Mustard</td><td>Tube Well</td><td>12358.59781</td><td>12684.56108</td></tr>
    <tr><td>Loamy</td><td>8.248715842</td><td>2.928851172</td><td>29.48284388</td><td>13.80473649</td><td>50.47921751</td><td>Citrus</td><td>Sprinkler Irrigation</td><td>13144.77643</td><td>13109.02333</td></tr>
    <tr><td>Nitrogenous</td><td>7.417184295</td><td>2.039288515</td><td>19.35632953</td><td>22.29084057</td><td>35.10139388</td><td>Gram</td><td>Sprinkler Irrigation</td><td>13269.83042</td><td>12433.77781</td></tr>
    <tr><td>Alkaline</td><td>8.113636911</td><td>1.394919749</td><td>32.19289645</td><td>13.14986686</td><td>45.32688136</td><td>Sugarcane</td><td>Sprinkler Irrigation</td><td>9588.476682</td><td>8780.699677</td></tr>
    <tr><td>Clay</td><td>7.146553716</td><td>2.42777783</td><td>38.24740447</td><td>25.3530528</td><td>36.35198765</td><td>Pomegranate</td><td>Sprinkler Irrigation</td><td>6516.406866</td><td>5629.616415</td></tr>
    <tr><td>Black lava soil</td><td>7.788225673</td><td>1.245722016</td><td>30.92485288</td><td>22.26378176</td><td>48.53664905</td><td>Chilli</td><td>Canal Irrigation</td><td>7948.719494</td><td>7547.761289</td></tr>
    <tr><td>Saline</td><td>7.104550309</td><td>1.610073527</td><td>35.40992405</td><td>13.25211894</td><td>37.92393116</td><td>Pomegranate</td><td>Tube Well</td><td>12430.00092</td><td>12472.01201</td></tr>

    </table>
    <p style="text-align:center;"> crop Fertilizer prediction dataset</p>
    <table cellpadding="5" cellspacing="1" border="1">
        <tr><td>Temparature</td><td>Humidity </td><td>Moisture</td><td>Soil Type</td><td>Crop Type</td><td>Nitrogen</td><td>Potassium</td><td>Phosphorous</td><td>Fertilizer Name</td></tr>
        <tr><td>26</td><td>52</td><td>38</td><td>Sandy</td><td>Maize</td><td>37</td><td>0</td><td>0</td><td>Urea</td></tr>
        <tr><td>29</td><td>52</td><td>45</td><td>Loamy</td><td>Sugarcane</td><td>12</td><td>0</td><td>36</td><td>DAP</td></tr>
        <tr><td>34</td><td>65</td><td>62</td><td>Black</td><td>Cotton</td><td>7</td><td>9</td><td>30</td><td>14-35-14</td></tr>
        <tr><td>32</td><td>62</td><td>34</td><td>Red</td><td>Tobacco</td><td>22</td><td>0</td><td>20</td><td>28-28</td></tr>
        <tr><td>28</td><td>54</td><td>46</td><td>Clayey</td><td>Paddy</td><td>35</td><td>0</td><td>0</td><td>Urea</td></tr>
        <tr><td>26</td><td>52</td><td>35</td><td>Sandy</td><td>Barley</td><td>12</td><td>10</td><td>13</td><td>17-17-17</td></tr>
        <tr><td>25</td><td>50</td><td>64</td><td>Red</td><td>Cotton</td><td>9</td><td>0</td><td>10</td><td>20-20</td></tr>
        <tr><td>33</td><td>64</td><td>50</td><td>Loamy</td><td>Wheat</td><td>41</td><td>0</td><td>0</td><td>Urea</td></tr>
        <tr><td>30</td><td>60</td><td>42</td><td>Sandy</td><td>Millets</td><td>21</td><td>0</td><td>18</td><td>28-28</td></tr>
        <tr><td>29</td><td>58</td><td>33</td><td>Black</td><td>Oil seeds</td><td>9</td><td>7</td><td>30</td><td>14-35-14</td></tr>
       
        </table>
        <p style="text-align:center;"> crop Recommendation prediction dataset</p>
        <table cellpadding="5" cellspacing="1" border="1">
            <tr><td>Soil Type</td><td>pH Level</td><td>Organic Matter (%)</td><td>Nitrogen Content (kg/ha)</td><td>Phosphorus Content (kg/ha)</td><td>Potassium Content (kg/ha)</td><td>Irrigation Method</td><td>label</td></tr>
            <tr><td>Loamy</td><td>7.52511385</td><td>2.239753774</td><td>33.64470597</td><td>16.53824613</td><td>36.70480363</td><td>Drip Irrigation</td><td>Fenugreek</td></tr>
            <tr><td>Chalky (Calcareous)</td><td>8.344594467</td><td>2.834961391</td><td>36.11974377</td><td>19.01189766</td><td>38.17379511</td><td>Tube Well</td><td>Bajra</td></tr>
            <tr><td>Saline</td><td>7.050600095</td><td>2.27550853</td><td>26.33258967</td><td>18.49587022</td><td>31.86344136</td><td>Tube Well</td><td>Tomato</td></tr>
            <tr><td>Clay</td><td>7.666359665</td><td>1.333425996</td><td>28.76332018</td><td>21.66615267</td><td>46.4957491</td><td>Canal Irrigation</td><td>Maize</td></tr>
            <tr><td>Sandy</td><td>7.02712697</td><td>2.304123096</td><td>23.4143404</td><td>23.88013957</td><td>34.98891491</td><td>Canal Irrigation</td><td>Onion</td></tr>
            <tr><td>Saline</td><td>7.340881236</td><td>1.609421811</td><td>28.7009993</td><td>27.99269056</td><td>44.01064229</td><td>Drip Irrigation</td><td>Guava</td></tr>
            <tr><td>Chalky (Calcareous)</td><td>7.745714726</td><td>2.284880179</td><td>30.97740866</td><td>19.50577399</td><td>42.17987695</td><td>Sprinkler Irrigation</td><td>Oilseeds</td></tr>
            <tr><td>Nitrogenous</td><td>7.333269653</td><td>2.759976003</td><td>19.32100076</td><td>23.79893618</td><td>35.80236221</td><td>Canal Irrigation</td><td>Pomegranate</td></tr>
            <tr><td>Nitrogenous</td><td>7.568373324</td><td>0.847894032</td><td>28.19495388</td><td>33.51513782</td><td>38.84669167</td><td>Drip Irrigation</td><td>Pulses</td></tr>
            <tr><td>Chalky (Calcareous)</td><td>7.932034991</td><td>2.153067277</td><td>28.84470232</td><td>14.04062648</td><td>49.71764441</td><td>Sprinkler Irrigation</td><td>Cotton</td></tr>
            </table>
</body>
</html>