


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <h1 class="text-center text-4xl mt-10">Welcome to the Home Page</h1>
    <h1>welecome crop prediction website </h1>
    
    <div class="text-center mt-10">
        <a href="/signup" class="text-black-600 text-xl">Sign Up</a> |
        <a href="/login" class="text-black-600 text-xl">Login</a>
    </div>
</body>
<style>
    body {
        background-image: url('/static/img/home.jpg');
        margin-top:100 px;
        height:500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: changeBackground 100s infinite;
    }

</style>
</html>
